* {
    padding: 0;
    margin: 0;
}

.containers {
    width: 750px;
    margin: 4% auto;
    background-color: #f6e9fd;
    padding: 5px 10px;
}

.containers .contain ul .default {
    background-color: #e8908e;
    color: #fff;
}

.containers .contain ul .cards {
    background-color: #ba8f38;
    color: #fff;
}

.containers .contain ul li {
    list-style: none;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    width: 33.33333333%;
    text-align: center;
    margin-bottom: 10px;
    float: left;
}

.containers .contain ul li:hover {
    cursor: pointer;
}

.containers .header p {
    text-align: center;
    color: blue;
    font-size: 34px;
}

.containers .content {
    text-align: center;
}

.containers .line {
    margin: 15px 0;
    background-color: rgba(0,0,0,.25);
    padding: 1px 0;
}

.containers .content input {
    width: 200px;
    height: 28px;
    outline: none;
}

.containers .content span {
    background-color: #428bca;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
}

.containers .content a {
    background-color: #428bca;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;
}

.containers .content span:hover,a:hover {
    cursor: pointer;
}

.containers .footer p {
    color: #357d22;
    font-size: 14px;
    text-indent: 28px;
}

.containers .show {
    margin-top: 20px;
}

.containers .show .showInfo {
    display: none;
    color: #14e1f3;
}
