<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>- 首页 -</title>
    {% include 'common.html' %}
    <link rel="shortcut icon" href="/static/images/title.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="header">
    <p>信息查询系统</p>
</div>
<div class="content">
    <div class="banner">
        <div class="head">
            <ul class="nav clearfix">
                <li class="skit">登录</li>
                <li>注册</li>
            </ul>
        </div>
        <div id="subject">
            {% include 'login.html' %}
            {% include 'register.html' %}
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="/static/js/jsencrypt.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>